[Unit]
Description=Recompile ipxe in docker
Requires=docker.service
After=docker.service multi-user.target network-online.target

[Service]
Type=oneshot
RemainAfterExit=no
ExecStart=/z/fast/scripts/netboot/docker_compile_ipxe.sh
